
#root {
    font-family: Inter, system-ui, Avenir,           Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h2{
      font-size: 1.5em;
      font-family: 'Prata', serif;
      letter-spacing: .1px;
      padding: 50px;
      padding-bottom: 0;
      margin-bottom: 0;
  }
  
  #text span {
      font-size: 1em;
  }
  button {
    width: 135px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  #author {
      margin-left: 15em;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
  }
  
  .fade-out {
      opacity: 0;
  }
  
  #quote-box {
      text-align: center;
      background-color: white;
      width: 600px;
      height: 350px;
      position: relative;
      right: 50%
      box-shadow: 0px .5em .5em -0.4em rgb(35, 35, 35);
     box-shadow: 0px .5em .5em -0.4em rgb(35, 35, 35);
  }
  
  #new-quote {
      position: absolute;
      left: 38%;
      top: 79%;
  }
  
  #tweet-quote {
      position: absolute;
      left: 10%;
      bottom: 9.7%;
      text-decoration: none;
      width: 40px;
      height: 40px;
      display:flex;
    justify-content: center;
    align-items:center;
    font-size:1.7rem;
    color:white;
  }
  .fade-in {
      opacity: 1;
      transition: .5s linear;
  }
  .transition {
      transition: .5s ease-out;
  }
  
  a img {
      padding: 6px;
      width: 25px;
  }
  